[Desktop Entry]
Name=FreedomOS
X-KDE-PluginInfo-Name=FreedomOS
X-KDE-PluginInfo-Author=FreedomOS Team
X-KDE-PluginInfo-Email=freedomos@gmail.com
X-KDE-PluginInfo-License=LGPLv3
